* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

.nav-text {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.nav{
    
}