* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* shared style  */
.section-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    opacity: 0.7;
}
.section-webdevelopment-description {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 16px;
    opacity: 0.7;
}
.section-subtitle {
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.btn-more {
    padding: 12px 20px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 32px;
    cursor: pointer;
}
.text-width{
    width: 852px;
    height: auto;
    margin: 20px auto
}
/* navbar start here  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}

.nav-text {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.nav-btn {
    padding: 17px 24px;
    gap: 10px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    opacity: 0.8;
    border-radius: 8px;
    cursor: pointer;
}

/* navbar end here  */

/* Hero section start here  */
.hero-section {
    background-image: url('../images/herobg.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1349px;
    height: 640px;
    margin-top: 50px;
    padding: 0 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-title {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px;
    border-radius: 8px;
    margin-top: 32px;
}

.hero-description {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    opacity: 0.7;

}

.hero-btn {
    padding: 21px 24px;
    border-radius: 8px;
    background-color: #0D1321;
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.hero-btn a {
    text-decoration: none;
    color: #FFF;
}

/* Hero section end here  */

/* Web development section start here  */
.web-development {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 70px;
    border-radius: 16px;
    padding: 50px 50px;
    background-color: rgba(13, 19, 33, 0.02);
}

.web-development-content {
    margin: 80px 90px;

}

.section-content-one,
.section-content-two,
.section-content-three {
    margin-top: 32px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    border-radius: 16px;
    background-image: linear-gradient(90deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
}

/* Web development section end here  */

/* Inspiration section start here  */
.section-inspiration {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 70px;
}

.section-video {
    padding: 32px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
    margin-top: 70px;
}

.section-video iframe {
    border-radius: 16px;
    background-image: lightgray 0px -5.621px / 100% 110.681% no-repeat;

}

/* Inspiration section end here  */

/* Target section start here  */
.section-target {
    max-width: 1140px;
    height: 460px;
    margin: 0 auto;
    margin-top: 70px;
}

.section-target-list {
    display: flex;
    gap: 32px;
    margin-top: 48px;
}

.section-title-target {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px;
    margin-top: 24px;
}

.section-description-target {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 25px;
}

.section-card-1 {
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(255, 76, 30, 0.05);
}

.section-card-2 {
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(0, 76, 232, 0.05);
}

.section-card-3 {
    padding: 40px;
    border-radius: 16px;
    background-color: rgba(255, 223, 0, 0.05);
}

.btn-target {
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    border: none;
    cursor: pointer;
}
.btn-target a{
    color: #0D1321;
    
}


/* Target section end here  */
/* NextTarget section start here  */
.NextTarget-section {
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 111px;
}

.Nexttarget-react {
    padding: 40px;
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background-color: #FFF;
}

/* NextTarget section end here  */

/* footer  start here  */

.footer-section {
    max-width: 1140px;
    padding: 64px 48px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url("../images/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.footer-title {
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.footer-description {
    color: #FFF;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    width: 606px;
    opacity: 0.7;
    margin: 0 auto;
}

input[type="text"] {
    width: 548px;
    padding: 19px 20px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;
}

.input-support {
    color: rgba(13, 19, 33, 0.40);
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn-submit {
    width: 120px;
    padding: 17px 20px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 8px;
    background-color: #FFF;
    border: none;
}

.footer-input {
    margin-top: 24px;
}

.footer-link {
    margin: 70px 100px 32px;
    display: flex;
    justify-content: space-between;
}

.footer-text {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-icon-logo {
    width: 36px;
    height: 36px;
    margin-left: 24px;
}